*.bak
**/*.tif
**/*.json
**/*.csv
**/*.pyc
*.pickle
*.picklez
img.dc_chars/
img.marvel_chars/
tmp*/
featureFiles*/
html*/
*.gml
*/jquery*/
clusters/
pickle_bak/
*.pickle_bak
web/thumbnails/*
*.bak/
web/qa/data/*
.DS_Store
*.pdf
nbproject/
*/download/

venv/

# Jupyter Notebook
.ipynb_checkpoints*
save_120k_dc_all.pickle.zip
120k_sbb_sample.xlsx
120k_sbb_sample.hdf5
