**/*.tif
**/*.json
**/*.csv
**/*.pyc
*.pickle
*.picklez
img.dc_chars/
img.marvel_chars/
tmp*/
featureFiles*/
html*/
*.gml
*/jquery*/
clusters/
pickle_bak/
*.pickle_bak
web/thumbnails/*
*.bak/
web/qa/data/*
.DS_Store
*.pdf
nbproject/
*/download/

