beautifulsoup4
bs4
geojson
geopy
googlemaps
imageio
ipython
jellyfish
jupyter
lxml
matplotlib
matplotlib-inline
networkx
notebook
numexpr
numpy
openpyxl
packaging
pandas
Pillow
PyWavelets
pyzmq
py-cpuinfo
qtconsole
QtPy
requests
scikit-image
scikit-learn
scipy
seaborn
Sickle==0.7.0
scikit-learn
tables
urllib3

jupyter
